.content_container{
    width: 1290px;
    margin: 30px 0 0;
    padding: 32px 0 0;
    border: solid 1px #000;
}

.class_subtitle{
    width: 1290px;
    height: 62px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    float: left;
}

.class_subtitle2{
    width: 1290px;
    height: 32px;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    float: left;
    margin-bottom: '10px';
}

hr {
    width : 850px;
    height : 3px;
    background-color :#000099;
    float: left;
    /* div겹침 */
    clear:both;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row{
    margin-bottom: 30px;
    width : 1290px;
    /* div겹침 */
    clear:both;
}
.label1{
    margin-left: 50px;
    width: 190px;
    height: 68px;
    border: solid 2.5px #060661;
    /* div겹침 */
    clear:both;
    font-style: normal;
    line-height: 68px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    float: left;
    background-color: white;
    color: #060661;
    border-radius: 10px;
}

.label2{
    margin-left: 20px;
    width: 550px;
    height: 68px;
    border: solid 1px #000;
    /* div겹침 */
    clear:both;
    font-style: normal;
    line-height: 68px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.label3{
    margin-left: 10px;
    width: 102px;
    height: 68px;
    border: solid 1px #000;
    font-style: normal;
    line-height: 68px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    float: left;
}

.que{
    width: 40px;
    height: 40px;
}

.btn1{
    width: 220px;
    height: 38px;
    margin: 15px 9px 0 0;
    border-radius: 8px;
    border: solid 2px #000099;
    color: #000099;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal; 
    background-color: #fff;
}

.classphoto{
    margin-left: 25px;
    width: 800px;
    height: 150px;
    border-radius: 8px;
    border: solid 0px gray;
    float: left;
}

.smphoto{
    margin-left: 15px;
    margin-top: 7px;
    width: 140px;
    height: 100px;
    border-radius: 8px;
    border: solid 1.5px gray;
    float: left;
}

.btn2{
    width: 150px;
    height: 38px;
    margin: 25px 9px 0 0;
    border-radius: 8px;
    border: solid 2px #3232ab;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal; 
    background-color: #3232ab;
    float: right;
}

.editor{
    width: 800px;
}

.class_minititle{
    font-style: normal;
    line-height: 68px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #060661;
}

.anou{
    font-style: normal;
    line-height: 68px;
    font-size: 15px;
    font-weight: bold;
    color: #000099;
}
/* .btn3{
    width: 300px;
    height: 60px;
    border-radius: 8px;
    border: solid 2px #3232ab;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal; 
    background-color: #3232ab;
    float: center;
    margin-left: 530px;
} */

.w-btn {
    width: 300px;
    height: 60px;
    position: relative;
    border: none;
    display: inline-block;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    font-size: 25px;

    margin-left: 530px;

}


.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-gra3 {
    background: linear-gradient(
        45deg,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    color: white;
}

.w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.textarea1{
    width: 800px;
    height: 260px;
    padding: 10px 10px 10px 10px;
}

/* 위에 tultip */
.asd{
    position: absolute;  /*어떤 요소에 absolute를 주면 블럭요소는 inline으로 변경됨.*/
    background-color: rgb(5, 4, 57);
    width: 330px;
    color : #fff;
    top : 440px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    left: 1280px;                    /*중앙배치 : 왼쪽에서 50%위치*/
    transform: translateX(-50%);  /*중앙배치 : X크기값을 50%만큼 이동*/
    opacity: 0;                   /*이벤트설정 : 서서히 변하게 함*/
    transition: 0.5s;             /*어떤 변화가 요청되면 0.5초뒤에 일어나자.*/
    font-size: 13px;
    
    visibility: hidden;          /*특정 요소 접촉시 이벤트 발생*/

}

.asd:after {
    content : '';             /*가상클래스 before, after는 무조건 content가 있어야 작동*/
    position: absolute;       /*상위클래스icon이 relative이므로, absolute로 설정하여 동적페이지에도 같은 위치로 유지*/
    background-color:rgb(5, 4, 47);
    width : 10px;
    height: 10px;
    transform: rotate(45deg) translateX(-50%);  /*transform은 한 요소에 1번밖에 못쓰므로 합쳐줘야함*/
    bottom: 30px;
    left: -1px;
                                        /*2. 크기값을 50%만큼 이동시켜준다.->항상 중앙에 위치하게됨*/

}

.sdf:hover span{
    opacity: 1;
    visibility: visible;     /*hover시 발생하는 이벤트*/
}



/* 아래 tultip */
.tulc{
    background-color: rgb(5, 4, 57);
    width: 330px;
    color : #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    left: 1300px;                    /*중앙배치 : 왼쪽에서 50%위치*/
    transform: translateX(-50%);  /*중앙배치 : X크기값을 50%만큼 이동*/
    opacity: 0;                   /*이벤트설정 : 서서히 변하게 함*/
    transition: 0.5s;             /*어떤 변화가 요청되면 0.5초뒤에 일어나자.*/
    font-size: 13px;
    
    visibility: hidden;          /*특정 요소 접촉시 이벤트 발생*/

}

.tulc:after {
    content : '';             /*가상클래스 before, after는 무조건 content가 있어야 작동*/
    position: absolute;       /*상위클래스icon이 relative이므로, absolute로 설정하여 동적페이지에도 같은 위치로 유지*/
    background-color:rgb(5, 4, 47);
    width : 10px;
    height: 10px;
    transform: rotate(45deg) translateX(-50%);  /*transform은 한 요소에 1번밖에 못쓰므로 합쳐줘야함*/
    bottom: 30px;
    left: -1px;
                                        /*2. 크기값을 50%만큼 이동시켜준다.->항상 중앙에 위치하게됨*/

}

.tulp:hover span{
    opacity: 1;
    visibility: visible;     /*hover시 발생하는 이벤트*/
}
