*{
    font-family: 'Jua';
  }
  
  div.title{
    text-align: center;
  }
  
  div.menu{
    position: absolute;
    top: 180px;
    left: 150px;
    width: 800px;
    height: 100px;
  }
  
  div.main{
    position: absolute;
    top:300px;
    left: 155px;
    width: 800px;
    height: 500px;
  }
  
  ul.menu li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
    color:black;
    font-size: 20px;
  }
  
  a{
    color:black;
    font-weight: bold;
  }
  
  img.small{
    width: 60px;
    height:60px;
    border:1px solid black;
    margin-left: 10px;
  }
  
  img.large{
    width:300px;
    margin-top: 10px;
    margin-left: 10px;
    border:1px solid gray;
  }
  
  .detail button{
    margin-left:10px;
  }
  
  input.memo_input{
    margin-left:20px;
  }
  
  div.member_form{
    margin-left: 100px;
  }
  
  table.member_form th{
    width: 100px;
  }
  
  img.imgphoto{
    position: absolute;
    left:500px;
    top:100px;
    max-width: 250px;
  }
  
  img.photo_small{
    width:50px;
    height:50px;
    border:1px solid black;
    margin-right:10px;
  }
  
  table td.td_1{
    width: 80px;
  }
  
  table td.td_2{
    width: 640;
  }